</main>
<!-- <aside class="gc-nttvs container">
<h2>{{ site.GCActivitiesInitiatives[page.lang] }}</h2>
<div id="gcwb_prts" class="wb-eqht row wb-init wb-eqht-inited" data-ajax-replace="https://cdn.canada.ca/gcweb-cdn-live/features/features-{{ page.lang }}.html"></div>
</aside> -->
<footer role="contentinfo" id="wb-info">
<nav role="navigation" class="container wb-navcurr" data-ajax-replace="https://canada-ca.github.io/repl/aboutgov-{{ page.lang }}.html">
</nav>


<div class="brand">
<div class="container">
<div class="row">
<nav class="col-md-10 ftr-urlt-lnk" data-ajax-replace="https://canada-ca.github.io/repl/aboutsite-{{ page.lang }}.html">
</nav>


<div class="col-xs-6 visible-sm visible-xs tofpg">
<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
</div>
<div class="col-xs-6 col-md-2 text-right">
<object type="image/svg+xml" tabindex="-1" role="img" data="{{ site.baseurl }}/wet-boew/assets/wmms-blk.svg" aria-label="Symbol of the Government of Canada"></object>
</div>
</div>
</div>
</div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="{{ site.baseurl }}/wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
		<script src="./wet-boew/js/ie8-wet-boew2.min.js"></script>

		<![endif]-->
<script src="{{ site.baseurl }}/wet-boew/js/theme.min.js"></script>
